.avatar{
    width: 150px;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

.card{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: aliceblue;
    border: 1px solid #023047;
    border-radius: 20px;
}

.avatar{
    border-radius: 100%;
}